.mail-preview {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    flex-grow: 0;
    border-block-end: 0.08lh solid lightgray;
    font-size: 0.875rem;
}

.mail-preview:first-child {
    border-block-start: 0.08lh solid lightgray;
    ;
}

.mail-preview:hover {
    cursor: pointer;
    grid-template-columns: 20% 80% 0%;
}


.mail-preview.read {
    background-color: var(--readMailColor);
}

.mail-preview td {
    padding: 0.5em;
    align-items: center;
}

.mail-preview td:first-child {
    display: flex;
    gap: 1em;
}

.mail-preview .star-icon.starred {
    color: var(--starredColor)
}

.mail-preview .star-icon.not-starred {
    color: var(--notStarredColor)
}

.mail-preview td:first-child a,
.mail-preview .subject-body a {
    display: block;
    height: 1lh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mail-preview .subject-body {
    width: 100%;
}

.mail-preview:hover .subject-body {
    width: 82%;
}

.mail-preview:hover .icons {
    width: 18%;
}


.mail-preview.unread td:not(:nth-child(2n)),
.mail-preview.unread td:nth-child(2n) span.subject {
    font-weight: 700;
}

.mail-preview td:nth-child(2n) {
    display: flex;
    gap: 1em;
}

.mail-preview td:nth-child(2n) span.subject {
    margin-inline-end: 1em;
}

.mail-preview td:nth-child(2n) span.body {
    flex-grow: 1;
}

.mail-preview td:nth-child(2n) .icons {
    display: none;
    gap: 1.5em;
    flex-shrink: 0;
    padding-inline: 1em;
    margin-inline-end: 1em;
}

.mail-preview:hover td:nth-child(2n) .icons {
    display: flex;
}

.mail-preview td:last-child {
    display: flex;
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
}

.mail-preview:hover td:last-child {
    display: none;
}

.mail-preview a {
    display: block;
    height: 100%;
    width: 100%;
}

.mail-preview .icon {
    border-radius: 50%;
    transition: 400ms;
    padding:0.5em
}

.mail-preview .icon:hover {
    background-color: var(--iconHoverBgColor);
    scale: 1.1;
}

.mail-preview .span-draft{
    color: red;
}