.mail-header-container {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 18px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    background-color: white;
}

.mail-header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 25px;
    padding-inline: 25px;
    font-size: 20px;
    color: grey;
}

.mail-header-icons>* {
    cursor: pointer;
}

.mail-header-user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    aspect-ratio: 1;
    flex-shrink: 0;

    font-family: roboto-regular;
    font-size: 18px;
    color: white;
    background-color: rgb(66, 133, 244);
}

.mail-header-form {
    position: relative;
    height: 60%;
    width: 100%;

    border-radius: 6px;
    border: none;

    /* padding-inline-start: 20px; */

    font-family: roboto-regular;
    font-size: 1rem;
    color: grey;

    background-color: rgb(241, 243, 244);

    display: flex;
    align-items: center;

}

.mail-header-search {
    /* position: relative; */
    height: 100%;
    width: 100%;

    border-radius: 6px;
    border: none;

    padding-inline-start: 20px;

    font-family: roboto-regular;
    font-size: 16px;
    color: grey;

    background-color: rgb(241, 243, 244);

}



.mail-header-search:hover {
    cursor: text;
}

.mail-header-search:focus-visible {
    outline: none;
    background-color: white;
    box-shadow: 0px 0px 4px 0px grey;

}

.mail-header-logo-cotainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mail-header-logo {
    display: block;
    font-family: roboto-regular;
    font-size: 25px;
    color: rgb(95, 99, 104);
}

.mail-header-icons .fa-bars {
    position: relative;
}

.mail-header-apps {
    position: absolute;
    top: 45px;
    right: 0px;

    width: 200px;
    height: 200px;

    background-color: rgb(248, 250, 253);
    border: 5px solid rgb(233, 238, 246);
    border-radius: 10px;
    box-shadow: 1px 3px 5px 0px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;

    font-size: 30px;
}


.mail-header-apps .home-app{
color: rgb(1, 88, 204);
}

.mail-header-apps .mail-app {
    color: rgb(66, 133, 244);
}
.mail-header-apps .note-app {
    color: rgb(251, 188, 4);
}

.mail-header-apps .about-app{
    color: rgb(255, 0, 0);
}

.mail-header-apps .book-app {
    color: rgb(35, 93, 13);
}

.mail-header-apps.hidden {
    display: none;
}

.mail-app-logo {
    width: 40px;
    /* height: ; */
}