.note-list {
    column-count: auto;
    column-width: 250px;
    column-gap: 20px;
    
    

    list-style: none;
    padding: 0;
    margin: 20px;
    
}

.note-list > * {
    margin-bottom: 20px;
    break-inside: avoid;
}

