.note-list {
    position: relative;
    column-count: auto;
    column-width: 250px;
    column-gap: 20px;
    
    

    list-style: none;
    padding: 0;
    margin: 20px;
    
}

.note-list > * {
    margin-bottom: 30px;
    break-inside: avoid;
}

.note-list .pin-btn{
    position: absolute;
    top: -10px;
    background-color: transparent;
    border:none;
    color: black;
    
}

