.options-bar {
    display: flex;
    
    flex-direction: row;
    justify-content: end;
    position: relative;
    z-index: 2;
    /* opacity: 0; */
    
}
.options-bar:hover {
    opacity: 1;
}

.options-bar button{
    background: none;
    border: none;
    
}

.options-bar button:hover{
cursor: pointer;
scale: 1.2;

}