.mail-index {
    position: relative;
    display: grid;
    grid-template-columns: 15% 85%;
    font-family: sans-serif;
}

.mail-index .btn-edit-mail {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 3.5rem;
    width: 7.6rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #c2e7fe;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    padding-inline: 1em;
}

.mail-index .icon {
    cursor: pointer;
}

.mail-index .mail-filter-mail-sort {
    display: flex;
    justify-content: space-between;
}

.mail-index .btn-edit-mail-mail-folder-list-mail-categories-list {
    display: grid;
    grid-template-rows: 3.5rem 20rem auto;
}