@media (max-width: 540px) {
    .note-header-search {
        display: none;
    }

    .notes-header-user-icon {
        display: none;
    }

    .note-insert-container {
        position: relative;
        left: 12px;

    }
    .note-input-icons {
        position: absolute;
        top: 60px;
        left: 100px;
        height: 50%;        
        
    }
    .note-header-icons {
        position: relative;
        left: 50px;
    }
}